<h1>Início</h1>
<div class="center jumbotron">
  <h1>Bem-vindo</h1>

  <h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac sollicitudin turpis. Sed eget augue vehicula, porttitor leo ut, tempus lectus. Suspendisse potenti. Cras pharetra metus at ipsum tristique consequat. Nam fringilla diam congue, pretium neque sit amet, iaculis velit. Nam lacus leo, placerat sed urna in, gravida pellentesque neque. Aliquam vitae consectetur sem, at pulvinar lorem. Pellentesque dui massa, mattis in scelerisque a, luctus at purus. Maecenas ut odio sit amet risus vulputate dictum. Donec hendrerit enim interdum laoreet gravida.
  </h2>

  <%= link_to "Sign up now!", cadastro_path, class: "btn btn-lg btn-primary" %>
</div>
